/* BORRADOR ARCHIV */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.cart-buy {
    background-color: red;
    min-height: 1000px;
    max-width: 400px;

}

.cart-top{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-top button{
    margin-top: 5px;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
}