body {
    color: #2e2e31;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    max-width: 1400px;
}

/* HEADER */

.image-header {
    width: 100%;
    height: auto;
}

.container-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./imagenes-de-productos/portada.jpg");
    background-position: center;
    min-height: 300px;
}

.main-title {
    color: white;
}

/* ASIDE */

.sector-filtro {
    display: flex;
    margin-left: 100px;
    margin-right: 20px;
}


.filter {
    /* padding-left: 10px; */
    background-color: #f5f5f5;
    font-size: 12px;
}

.filter label {
    display: flex;
    align-items: center;
}

.filter label i {
    left: 250px;
    margin-bottom: 5px;
}

.filter-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.close-filters {
    display: none;
}

.fa-times {
    font-size: 20px;
}

.clean-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clean-option p {
    margin-left: 5px;
}

.search-product {
    border: 0;
    border-bottom: 2px solid #546e7a;
    background-color: transparent;
}


.container-checkbox {
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.checkbox-product {
    padding-right: 200px;
    margin-right: 10px;
}

.fa-star {
    color: #fbc02d;;
    display: flex;
}

.score {
    display: flex;
    flex-direction: column;
}

.score div {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.score .fa-star {
    display: flex;
    align-content: space-between;
    align-items: center;
}

/* SEGUNDO HEADER  */

.header-ver-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}

.iconView{
    border: none;
    background-color: transparent;
}


.header-ver-productos .button-filter {
    display: none;
    border: none;
    width: 100px;
    background-color: white;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;

}

.header-ver-productos p {
    padding-left: 25px;
}

.header-ver-productos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.header-ver-productos i {
    padding-left: 10px;
    font-size: 20px;
}

.iconFilter{
    border: none;
    font: 1em sans-serif;
    display: none;
    background-color: transparent;

}

.fa-filter {
    padding-right: 5px;
}

/* SECCIONES*/

.home {
    width: 100%;
    display: flex;
    margin-top: 100px;
    max-width: 1400px;
    flex-grow: 1;
}

/* SECCION DE PRODUCTOS*/

/* section {
    max-width: 1500px;
    min-width: 1000px;
    width: 100%;
} */

.section-product {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.container-product-grid {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.score-icons {
    display: flex;
    margin-bottom: 30px;

}

.container-product-grid button {
    border: none;
    border-radius: 5px;
    min-height: 50px;
    min-width: 200px;
    background-color: #fafafa;
}

.card {
    background-color: white;
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #2e2e31;
    margin: 6px;
}

.cardList {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}
.color-price {
    color: #546e7a;
}

.productList {
    align-items: flex-start !important;
    padding-left: 10px;
}

.img-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-product {
    width: 250px;
    height: auto;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.cart {
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title p {
    font-size: 20px;
    font-weight: bold;
    
}

.fa-sun {
    font-size: 30px;
    color: #fbc02d;
    padding-right: 10px;
}


/* FOOTER */

footer {
    font-size: 14px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 10px 30px;
    margin-top: 80px;
}

.container-footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
}

.container-footer p {
    font-size: 20px;
    color: #00000094;

}

.container-footer a {
    text-decoration: none;
    color: #00000094;
}

.container-footer li {
    font-size: 35px;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    .container-banner{
        max-width: 100%;
    }
    .home {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section-product {
        width: 600px;
    }
    section {
        max-width: 100%;
    }

    .header-ver-productos {
        width: 500px;
    }
    .iconFilter {
        display: block;
    }

    .card {
        width: 500px;
        height: 600px;
        z-index: 1;
    }
    /* .aside-filtro {
        display: none;
    } */
    footer{
        max-width: 100%;
        width: 600px;
    }
    .body{
        display: flex;
        justify-content: center;
    }
    .view {
        display: none !important;
    }
    .header-ver-productos button {
        display: flex;
    }
    .nav{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }
    .productList{
        display: none;
    }
}


@media (max-width: 800px){
    .close-filters {
        position: absolute;
        top: 50px;
        right: 10px;
        display: block;
    }

    .close-filters button {
        border: none;
        background-color: transparent;
    }

    .sector-filtro {
        background-color: #f5f5f5;
        max-width: 250px;
        width: 100%;
        height: 100%;
        padding: 30px 20px;
        position: fixed;
        transition: 2s;
        z-index: 2;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }
    .filters-open {
        transform: translateX(0%) !important;
    }

    /* body {
        height: 100vh;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
    } */
}

